.listSorter {
  /*color: #a9a9a9;*/
}
.sort-header {
  display:flex;
  align-items:center;
  justify-content:space-between;
  cursor: pointer;
}
.sort-asc::after {
  content:"\25B2"
}
.sort-desc::after {
  content:"\25BC"
}
.sort-none::after {
  content:"";
}
